/*
   GENERAL
========================================================================== */

body {
  background-color: #202020;
  font-family: 'Source Sans Pro', sans-serif;
}

#page {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  background-color: white;
}
.blue {
  height: 10px;
  background-color: #2980B9;
}

h1 {
  font-size: 2.8em;
font-weight: 400;

}
h3, h2 {
  font-size: 15px;
}
h4,
nav li,
nav p {
  text-transform: uppercase;
}

p,h3{
  color:#6e6e6e;
}

/* ==========================================================================
   MAIN
   ========================================================================== */

main {
  width: 75%;
}

/* ==========================================================================
   NAVIGATION
   ========================================================================== */

nav {
  width: 25%;
  background-color: #2A2A2A;
  text-align: center;
}
nav a {
  color: #949494;
  text-decoration: none;
}
nav li {
  padding: 10%;
  border-top: 1px solid #7a7474;
  font-weight: bold;
}
nav li:hover {
  background-color: #2980B9;
  padding: 10%;
  color: white;
}
nav ul {
  width: 100%;
  list-style-type: none;
  padding: 0 !important;
  margin-top: 100px;
}
nav img {
  border-radius: 50%;
  margin-top: 8px;
}
nav h2{
  color: white;
  font-size: 32px;
}
nav p{
  font-size:14px;
  color:#949494;
  margin-top: -8px;
}


/*
               title-head
   ========================================================================== */
.title-head img{
  padding-bottom: 50px;
}
.title-head {
  text-align: center;
  border-bottom: 1px solid #EBEBEB;
  padding-bottom:50px;
}
.title-head h3, section h3{
  margin-top: -30px;
}


/*
                 section
   ========================================================================== */

section, #body-content {
  width: 85%;
  margin: 100px auto;
}
section{
  padding-bottom: 100px;
  border-bottom: 1px solid #EBEBEB;
}
section h1, section h3{
  text-align: center;
}



/*
                 grid/case
   ========================================================================== */

.grid {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  border-bottom: 1px solid #EBEBEB;
}
.grid:last-child{
  border-bottom: none;
}
.date {
  width: 5%;
  border-right: 1px solid #EBEBEB;
  padding-right: 40px;
  text-align: center;
  height: 100px;
  margin-top:auto;
  margin-bottom: auto;
}
.date h4{
  font-weight: lighter;
}
.date p{
  margin-top: -32px;
  font-weight: bolder;
  font-size: 24px;
  color: black;
}
.parag {
  width: 95%;
  padding-left: 40px;
}
.parag p{
  margin-top: -15px;
  line-height: 30px;
}
.grid h4{
  font-weight: lighter;
}

/* ==========================================================================
   ---------Foooter-----------
   ========================================================================== */
footer{
  text-align: center;
  padding-bottom: 100px;
  color: #7a7474;
  letter-spacing: 2px;
  font-weight: lighter;
}
